.icon-preview {
  position: relative;
  height: 256px;
  background: #FFF;
}

.icon-preview-inner {
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  overflow: visible;
  text-align: center;
}

.btn-icon-16s,
.btn-icon-16,
.btn-icon-32,
.btn-icon-48,
.btn-icon-64,
.btn-icon-80,
.btn-icon-96,
.btn-icon-112,
.btn-icon-128 {
  position: relative;
  -webkit-transition-property: width, height, font-size, line-height, top, background-color, color, border-radius, border;
  -moz-transition-property: width, height, font-size, line-height, top, background-color, color, border-radius, border;
  -o-transition-property: width, height, font-size, line-height, top, background-color, color, border-radius, border;
  transition-property: width, height, font-size, line-height, top, background-color, color, border-radius, border;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-icon-16s {
  top: -16px;
}

.btn-icon-16 {
  top: -24px;
}

.btn-icon-32 {
  top: -32px;
}

.btn-icon-48 {
  top: -48px;
}

.btn-icon-64 {
  top: -64px;
}

.btn-icon-80 {
  top: -80px;
}

.btn-icon-96 {
  top: -96px;
}

.btn-icon-112 {
  top: -112px;
}

.btn-icon-128 {
  top: -128px;
}

.bubble-icon {
  font-size: 512px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: -200px;
  left: 0;
  z-index: -1;
  color: #222;
}

.bubble-text {
  font-size: 1.2em;
  line-height: 1.2;
  color: #FFF;
}
@media (min-width: 992px) {
  .bubble-text {
    position: absolute;
    top: 110px;
    left: 32px;
    width: 450px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .bubble-text {
    background: #222;
    padding: 60px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }
}
.bubble-text span {
  display: block;
  font-size: 2.2em;
  margin-top: 20px;
}

.bubble {
  position: relative;
}

.ruller {
  margin: 5px 20px 0;
  position: relative;
}
.ruller .point {
  width: 1px;
  height: 10px;
  background-color: #CCC;
  position: absolute;
}
