@import url(btn-extend.css);
@import url(btn-icon.css);
@import url(../fonts/icomoon/style.css);
body {
  background-color: #F5F5F5;
  color: #444;
  font-family: sans-serif;
}

.page-header {
  background-color: #222;
  color: #FFF;
  margin-top: 0;
  border-width: 0;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5em;
  font-weight: 300;
}

.btn-logo {
  text-align: left;
}
